




div#slideshow {
    width: 1024px; height: 500px;
    box-shadow: 0 0 5px 5px #000;
    border-radius:10px;
    overflow: hidden;
    position: relative; z-index: 5;
    margin:auto;

}
div#slideshow ul#nav {

    display: none;
    list-style: none;
    position: relative; top: 210px; z-index: 15;
}
div#slideshow ul#nav li#prev {
    float: left; margin: 0 0 0 40px;
}
div#slideshow ul#nav li#next {
    float: right; margin: 0 50px 0 0;
}
div#slideshow ul#nav li a {
    display: block; width: 80px; height: 80px; text-indent: -9999px;
}
div#slideshow ul#nav li#prev a {
    background: url(../image/prev.png);
}
div#slideshow ul#nav li#next a {
    background: url(../image/next.png);
}

div#slideshow ul#slides {

    list-style: none;
}
div#slideshow ul#slides li {

}


div#slideshowCaption{
    color: white;
    display: none;
    overflow: hidden;
    position: absolute;
    top:420px;

    background: #000000;
    opacity: 0.5;
    width: 1024px;
    height: 100px;
    float: left;
    z-index: 1000;
}
a {outline: none; }